body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #333;
    color: #eee;
}

.numButton {
    display: inline-block;
    text-decoration: none;
    color: #000;
    height: 1.5em;
    padding-top: .25em;
    border: 1px solid #000;
    background-color: #ddd;
    margin: .5em .125em;
    text-align: center;
    transition: all 100ms cubic-bezier(.47, 1.64, .41, .8);
    box-shadow: 2px 2px 2px #0008;
    border-radius: 2em;
    width: 1.8em;
}

.numButton:hover {
    background-color: #fff;
    transform: scale(1.2);
}

#numbers {
    width: 22em;
    text-align: center;
    border: .5em solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #666;
    box-shadow: 0 .5em .5em #0008;
}

#board {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #333;
    border: 1em solid #000;
    box-shadow: 0 .5em .5em #0006;
    border-radius: 1em;
}

#board td {
    width: 2em;
    height: 2em;
    border: 1px solid #333;
    background-color: #eee;
    color: #333;
    text-align: center;
    transition: all 100ms cubic-bezier(.47, 1.64, .41, .8);
    cursor: default;
}

#board td.oem {
    color: #555;
}

#board tr td:nth-child(3n) {
    border-right: 5px solid #000;
}

#board tr:nth-child(3n) {
    border-bottom: 5px solid #000;
}

a.selected {
    background-color: #4ba130;
    color: #eee;
    font-weight: bold;
    transform: scale(1.2);
    border: 1px solid #fff;
    box-shadow: 3px 3px 3px #0008;
    transform: translateY(-2px);
}

a.selected:hover {
    background-color: #7bd160;
    color: #fff;
}

h1 {
    font-family: "Cooper Std";
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 1px #000c;
    margin-bottom: 0px;
}

#buttons button:active {
    background: linear-gradient(to bottom, rgba(209, 210, 211, 1) 0%, rgba(207, 212, 214, 1) 50%, rgba(183, 186, 191, 1) 51%, rgba(224, 225, 226, 1) 100%);
    box-shadow: -2px -2px 0px;
    border-style: inset;
    top: -0.5em;
}

#toolbar {
    text-align: center;
    margin: .5em auto 0 auto;
    width: 21em;
    background-color: #bbb;
    padding: .5em .5em;
    border: .5em solid #000;
    height: 1.5em;
}

#toolbar label {
    color: #222;
}

#buttons {
    float: right;
}

.locked {
    font-weight: bold;
}

table#board tr td.selcell {
    background-color: #fff;
    color: #000;
    font-weight: normal;
}

table#board tr td.selcell span.num {
    border: 1px solid #4ba130;
    border-radius: 2em;
    width: 1.25em;
    display: inline-block;
    transition: all 100ms cubic-bezier(.47, 1.64, .41, .8);
}

table#board tr td.good {
    color: #000000;
    background-color: #ffffff;
}

table#board tr td.good span.num {
    background-color: #fff;
}

span.num {
    background-color: #fff;
}

table#board tr td.bad {
    color: #fff;
    background-color: #aa0000;
}

table#board tr td.bad span.num {
    background-color: transparent;
    border: 0px;
}

#buttons button {
    width: 3.6em;
    height: 3.5em;
    border-radius: 4em;
    position: relative;
    top: -.6em;
    border: 2px outset #fffc;
    box-shadow: 2px 2px 2px #0009;
    text-shadow: -1px -1px 0px #fff;
    background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    transition: all 100ms;
}

#time,
#score {
    font-family: "Cute Font", cursive;
    color: #0c0;
    background-color: #000;
    padding: 4px 8px;
    border: 2px inset #fff;
}

table#board tr td span.solved {
    color: #900;
}

#timeWrap,
#scoreWrap {
    display: inline-block;
    margin-right: .5em;
    float: left;
}

.disabled {
    background-color: #999;
    color: #666;
    border-color: #666;
    box-shadow: 0px 0px 0px #000;
    cursor:not-allowed;
}

.num {
    width: 1.25em;
    display: inline-block;
    border: 0px solid #0c0;
    border-radius: 2em;
    transition: scale 2000ms cubic-bezier(.47, 1.64, .41, .8);
    transform: scale(1.5);
}

:focus {
    outline: 0px;
}

.bounce {
    animation: 2s bounce;
}

@keyframes bounce {
    0% {
        transform: scale(1.5);
    }

    20% {
        transform: scale(2.5);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(2.5);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}
.pop {
    animation: pop 2000ms cubic-bezier(.47, 1.64, .41, .8);
}
@keyframes pop {
    0% {
        transform: scale(0);
    }

    33% {
        transform: scale(2);
    }

    66% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

#timeLabel {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("stopwatch.svg");
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

#scoreLabel {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("score.svg");
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.points {
    position: absolute;
    font-size: 1.5em;
    height: 1em;
    width: 5em;
    color: #009900;
    transition: all 1200ms linear;
    transform: scale(0);
    text-align:center;
    opacity:1;
    cursor:default;
    pointer-events:none;
    text-shadow:3px 3px 3px #0009,-1px -1px 0px #fff, 1px 1px 0px #fff, -1px -0px 0px #fff, 0px -1px 0px #fff;
    
}

.fade {
    transform: scale(3);
    opacity: 0;
}
.wordletter {
    width: 1em;
    font-size:24px;
    margin:0 .25em; 
}
#word {
    text-align:center;
    background-color:#ccc; 
    width:22em;
    padding:.25em 0;
    border:.5em solid #000;
    border-bottom:0px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
main { text-align: center; }
