body {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #333;
    color: #eee;
    user-select:none;
    text-align:center;
}
.label { font-size:14px; }
.button:hover {
    transform:scale(1.2);
    background-color:#eee;
}
canvas {
    pointer-events:none;
}
.button {

    /* text */
    text-decoration:        none;
    font:                   22px/1em 'Droid Sans', sans-serif;
    font-weight:            bold;
    text-shadow:            rgba(255,255,255,.5) 0 1px 0;
    user-select:            none;
    width: 0.8em;

    /* layout */
    padding:                .5em .75em .4em .65em;
    margin:                 .25em 0px .75em 0px;
    display:                inline-block;
    position:               relative;

    border-radius:  50%;

    /* effects */
    border-top:         1px solid rgba(255,255,255,0.8);
    border-bottom:      1px solid rgba(0,0,0,0.1);

    background-image:   gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);

    transition:         all .2s ease-in-out;

    /* color */
    color:              hsl(0, 0%, 0%);
    text-shadow: 1px 1px 0px #fff;
    background-color:   hsl(0, 0%, 75%);

    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
    hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    -moz-box-shadow:    inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
    hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    box-shadow:         inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
    hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
@media only screen and (max-width:600px) {
    body {
        font-size:22px;
    }
    .button {
        font:                   18px/1em 'Droid Sans', sans-serif;
    }
}

.numButton {
    display: inline-block;
    text-decoration: none;
    color: #000;
    height: 1.5em;
    padding-top: .25em;
    border: 1px double #000;
    background-color: #ddd;
    margin: .5em .125em;
    text-align: center;
    transition: all 100ms cubic-bezier(.47, 1.64, .41, .8);
    box-shadow: 3px 3px 2px #0008;
    border-radius: 2em;
    text-shadow: 1px 1px 0px #fff;
    width: 1.8em;
}

.numButton:hover {
    background-color: #eee;
    box-shadow: 3px 3px 3px #0009;
    transform: scale(1.2);
}
.numButton.disabled:hover {
    box-shadow: 0px 0px 0px #0000;
    transform:scale(1);
    background-color:#999;
    filter:grayscale(100%) brightness(0.5);
}
a.numButton.selected:hover {
    transform: scale(1.4) translateY(-3px);
    background-color:#0060a1;
}
#numbers {
    text-align: center;
    border: .5em solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #666;
    box-shadow: 0 .5em .5em #0008;
    white-space:nowrap;
}
@media only screen and (max-width:320px) {
    .button {
        font-size:13px;
    }

}@media only screen and (max-width:600px) {
    #numbers {
        border-left:0px;
        border-right:0px;
    }

}
#board {
    border-collapse: collapse;
    background-color: #eee;
    border: .5em solid #000;
    margin: 0 auto;
    width:100%;
}

#board td {
    width: 11.11%;
    height: 5vh;
    border: 1px solid #666;
    color: #333;
    text-align: center;
    transition: all 100ms cubic-bezier(.47, 1.64, .41, .8);
    cursor: default;
}

#board td.oem {
    color: #555;
}

#board tr td:nth-child(3n) {
    border-right: 5px solid #000;
}

#board tr:nth-child(3n) {
    border-bottom: 5px solid #000;
}

a.selected {
    background-color: #00a160;
    color: #eee;
    font-weight: bold;
    box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.5) 0 -0.2em .4em, /* inner shadow */ 
        #005500 0 .1em 3px, #030 0 .3em 1px, /* color border */
            rgba(0,0,0,0.2) 0 .5em 5px;
    transform: translateY(-2px) scale(1.2);
}

a.selected:hover {
    background-color: #7ba160;
    color: #fff;
    transform: translateY(-2px) scale(1.2);
}

h1 {
    font-family: "Cooper Std";
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 1px #000c;
    margin-bottom: 0px;
    margin-top:0px;
    padding-top:.35em;
    background-color: #39f;
}
#buttons button#solveGame {
    background: url("img/light.png");
    background: url("img/light.png"), linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    background-size:100% 100%;
    background-repeat: no-repeat;
}
#buttons button#newGame {
    background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    background-repeat: no-repeat;
    font-size:20px;
    padding:0px;
    width:2em;
    height:2em;
    position:relative;
    top:-0.4em;
}

#buttons button:active {
    background: linear-gradient(to bottom, rgba(209, 210, 211, 1) 0%, rgba(207, 212, 214, 1) 50%, rgba(183, 186, 191, 1) 51%, rgba(224, 225, 226, 1) 100%);
    box-shadow: -2px -2px 0px;
    border-style: inset;
    top: -0.5em;
}

#toolbar {
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: #bbb;
    padding: .25em 0px .5em .25em;
    border: .25em solid #000;
    height: 1.5em;
    border-left:0px;
    border-right:0px;
}

#toolbar label {
    color: #222;
}

#buttons {
    float: right;
    position:relative;
    top:-4px;
}
#settings {
    font-size:1.5em;
    
}
.locked {
    font-weight: bold;
}

table#board tr td.selcell {
    background-color: #0f3;
    color: #000;
    font-weight: normal;
}

table#board tr td.selcell span.num {
    border: 1px solid #4ba130;
    border-radius: 2em;
    width: 1.25em;
    display: inline-block;
    transition: all 200ms cubic-bezier(.47, 1.64, .41, .8);
    transform:scale(1.2);
    /* transform:scale(0); */
    background-color:#fff;
}

.good {
    color: #000000;
    background-color: transparent;
}

table#board tr td.good span.num {
    background-color: #fff;
}

span.num {
    background-color: #fff;
}

table#board tr td.bad {
    color: #fff;
    background-color: #aa0000;
}

table#board tr td.bad span.num {
    background-color: transparent;
    border: 0px;
}

#buttons button {
    width: 3em;
    height: 3em;
    border-radius: 4em;
    border: 2px outset #fffc;
    box-shadow: 2px 2px 2px #0009;
    text-shadow: -1px -1px 0px #fff;
    background: linear-gradient(to bottom, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%);
    transition: all 100ms;
    padding:.25em .3em;
}

#time,
#score {
    font-family: "Cute Font", cursive;
    color: #0c0;
    background-color: #000;
    padding: 2px 4px;
    border: 2px inset #fff;
    display:inline-block;
    width:2.7em;
    font-size:1.2em;
}
@media only screen and (max-width:600px) {
    #time, #score {
        width:2.1em;
        font-size:.9em;
    }
}

table#board tr td span.solved {
    color: #900;
}

#timeWrap,
#scoreWrap, #difficultyWrap {
    display: inline-block;
    float: left;
}

.disabled {
    color: #888;
    cursor:not-allowed;
    filter:grayscale(100%) brightness(0.5);

}

.num {
    width: 1.25em;
    display: inline-block;
    border: 0px solid #0c0;
    border-radius: 2em;
    transition: transform 200ms cubic-bezier(.47, 1.64, .41, .8);
    transform: scale(0);
}

:focus {
    outline: 0px;
}

span.bounce {
    animation: 1500ms bounce ease-in;
}

@keyframes bounce {
    0% {
        transform: scale(.5);
    }

    20% {
        transform: scale(2);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1.5);
    }

    80% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
table#board tr td.selcell span.num.toreveal { 
    transform:scale(0);
}
table#board tr td span.num.reveal { 
    transform:scale(1); 
}
.pop {
    animation: pop 1000ms cubic-bezier(.47, 1.64, .41, .8);
}

table#board tr td.selcell span.num.show { 
    transform: scale(1);
}
@keyframes pop {
    0% {
        transform: scale(0);
    }

    33% {
        transform: scale(1.5);
    }

    66% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}
.levelLabel {
    display:inline-block;
    background-image: url("img/level.png");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    width:0.9rem;
    height:1.8rem;
    float:left;
    margin-top:0.35em;
    box-shadow: 1px 1px 1px #000a;
    margin-right:.25rem;

}
#timeLabel {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("img/watch.png");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    top:5px;
}

#scoreLabel {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("img/score.png");
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    top:6px;
}

.points {
    position: absolute;
    font-size: 1.5em;
    height: 1em;
    width: 5em;
    color: #009900;
    transition: all 1200ms linear;
    transform: scale(0);
    text-align:center;
    opacity:1;
    cursor:default;
    pointer-events:none;
    text-shadow:3px 3px 3px #0009,-1px -1px 0px #fff, 1px 1px 0px #fff, -1px -0px 0px #fff, 0px -1px 0px #fff;
    
}

.fade {
    transform: scale(3);
    opacity: 0;
}
.wordletter {
    width: 1em;
    font-size:.9em;
}
#word {
    text-align:center;
    background-color:#ccc; 
    padding:.25em 0;
    border:.5em solid #000;
    border-bottom:0px;
    border-top:0px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

main {
    text-align: center; 
    overflow:hidden;
    max-width:35rem;
    height: 99vh;
    margin: 0 auto;
}
@media only screen and (max-width:600px) {
    #word { border-left:0px; border-right:0px; }
}
@media only screen and (min-width:600px) {
    main {
        border-left:1em solid #666;
        border-right:1em solid #666;
    }
}
.dark { background-color:#bbb; }
input[type=text] { text-align:center; text-transform:uppercase; font-weight:bold;}
.fly {
    position:absolute;
    transition: all 200ms linear;
    width:2em;
    height:1.6em;
    background-color:#ff0;
    color:#000;
    border-radius:50%;
    font-size:32px;
    font-weight:bold;
    padding-top:.4em;
    text-shadow: -1px -1px 0px #fff, 1px 1px 0px #fff;
    border: 2px solid #00f;
}
.level {
    text-decoration:none;
    position:relative;
    display:inline-block;
    width:0.3em;
    transform-origin:bottom;
}
#levelTable {
    background-color:#000;
    border:2px inset #fff;
    height:1.7em;
    border-collapse:collapse;
}
#levelTable td { 
    vertical-align:bottom;
    width:.4em;
}
@media only screen and (max-width:600px) {
    #levelTable td {
        width:7px; 
    }
}
.levelSelected {
    outline:2px solid #fff;
}
label {
    margin-left:.3em;
}
.level_1 { transform:scaleY(0.16);background-color:#01ff00;color:#01ff00; }
.level_2 { transform:scaleY(0.32);background-color:#5aff02;color:#5aff02; }
.level_3 { transform:scaleY(0.48);background-color:#fff704;color:#fff704; }
.level_4 { transform:scaleY(0.64);background-color:#ffa006;color:#ffa006; }
.level_5 { transform:scaleY(0.8);background-color:#ff5608;color:#ff5608; }
.level_6 { transform:scaleY(0.96);background-color:#ff0008;color:#ff0008; }
 .explosion .particle {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      animation: pop 2000ms reverse forwards;
      animation-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
 }
.youwin {
    animation: ease-in-out 1500ms 6 alternate zoom;
    position:absolute;
    top:30vh;
    left:32vw;
    width:8em;
    height:2em;
    padding-top:1em;
    color:#ffff00;
    font-size:3em;
    text-shadow:2px 2px 2px #000c;
    font-weight:bold;
    text-transform:uppercase;
    opacity:1;
    transition:opacity 1000ms linear;
}
 @keyframes zoom {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(2);
    }
 }


 @keyframes pop {
    from {
        opacity: 0;
        height:0px;
        width:0px;
    }
    to {
        top: 50%;
        left: 50%;
        opacity: 1;
    }
 }

 .explosion {
    position:absolute;
    height:600px;
    width:600px;
    pointer-events:none;
 }

